@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {font-family: Sans Forgetica Regular; src: url('fonts/SansForgetica-Regular.otf'); }

:root {
  --foreground-color-primary: rgb(230, 230, 230);
  --foreground-color-primary-strong: rgb(250, 250, 250);
  --foreground-color-secondary: rgb(203, 203, 203);
  --foreground-color-highlight: rgb(220, 0, 19);
  --background-color: rgb(30, 30, 30);
  --background-color-secondary: rgb(70, 70, 70);
  --snippet-background-color: rgba(255, 255, 255, 0.02);
  --snippet-selector-color: rgb(100, 100, 100);
  --line-color: rgba(45, 45, 45);
}


.columns {
  display: flex;
  flex-direction: row;
}

.column {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stretched {
  width: 90%;
}


.stretched .column:not(:last-child) {
  border-right: 1px solid var(--foreground-color-secondary);
}

.reveal {
  background-color: var(--background-color-highlight) !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 36px !important;
}

.reveal section img {
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Lato', sans-serif !important;
  color: var(--foreground-color-primary) !important;
}

.reveal h4 {
  margin-bottom: 56px !important;
  text-transform: unset !important;
  font-size: 48px !important;
}


.reveal del {
  text-decoration-color: var(--foreground-color-highlight);
}

.reveal a {
  color:var(--foreground-color-primary) !important;
}

.reveal a:hover {
  color: var(--foreground-color-primary-strong) !important;
}

.reveal .slides {
  height: 100%!important;
  top: 0!important;
  margin-top: 0!important;
}

.reveal .slides>section {
  min-height: 90%!important;
}

.reveal .slides>section>section {
  min-height: 100%!important;
}

.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
  color: var(--foreground-color-primary) !important;
}

section > h2 {
  position: absolute !important;
  top: 40px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  /*position: relative !important;*/
}


.reveal ul {
  list-style-type: '– ' !important;
}

.pdf-page {
  border: 1px solid white;
  
}

.print-pdf .reveal.slide .slides .pdf-page section.present {
  position: unset !important;
}


.print-pdf .reveal.slide .slides .pdf-page {
  display: flex;
  align-items: center;
}

.highlight {
  max-height: calc( var(--vh, 1vh) * 75 );
  overflow: auto;
}

.reveal pre {
  overflow: unset !important;
  width: 100% !important;
  margin: unset !important;
  font-size: 0.35em !important;
  background-color: var(--background-color-secondary) !important;
}

.reveal pre code {
    max-height: unset !important;
    overflow: unset !important;
    font-size: 14px;
}


.illustration {
  max-height: 450px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.illustration + .title {
  position: relative;
  font-size: 10px;
  margin-top: -20px;
  display: block;
  transform: rotate(-27.88deg) translate(5%, -300%);
}


.image-clip-src {
  width: 100%;
  height: 100%;
}


div .sectionbreak {
margin: auto;
}

li{
  margin: 24px 0 !important;
}


strong strong {
  color:var(--foreground-color-highlight) !important;
}

.important {
  color:var(--foreground-color-highlight) !important;
}

.tab {
  width: 70%;
  margin-bottom: 48px;
}

 /* Style the tab */
 .buttons {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.buttons button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  transition: 0.3s;
  color: var(--snippet-selector-color);
  font-size: 12px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom-color: var(--snippet-selector-color);
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom-color: var(--snippet-selector-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-color: var(--snippet-selector-color) !important;
  border-width: 0.5px;
  border: 1px solid;
  background-color: var(--snippet-background-color);
} 

.tabcontent.active {
  display: block;
}


.reveal blockquote {
  text-align: left;
  font-size: 28px;
  max-width: 100% !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

blockquote .author {
  width: 100%;
  text-align: right;
  font-size: 24px;
}

.content {
  color: var(--foreground-color-secondary) !important;
}

p:empty {display:none;}

.reveal .controls, .reveal .progress {
  color: var(--background-color-secondary) !important;
}


.credits {
  font-size: small;
}

.reveal .bracket {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.reveal .bracket .title {
  text-align: right;
  align-self: center;
  width: 50%;
  margin-right: 56px;
}

.reveal .bracket .content {
  text-align: left;
  width: 50%;
  border-left: 1px solid var(--foreground-color-primary-strong);
  font-size: 32px;
  padding-left: 32px;
}

.reveal .bracket .content ul li {
  margin: unset !important;
}

.reveal .subtitle {
  margin-top: 72px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif !important;
  color: var(--foreground-color-highlight) !important;
  font-size: 24px;
}

.reveal .vspace {
  margin-bottom: 28px;
  margin-top: 28px;
  height: 1px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--line-color);
}