<div>
{{$titlelines := split $.Page.Params.Title "\n" }}
{{- range $line := $titlelines -}}
{{ print "# " $line  | markdownify }}
{{- end -}}
{{- with $.Page.Params.subtitle }}
{{ print "## " $.Page.Params.subtitle  | markdownify }}
{{- end -}}
</div>
</section>
<section>
  <svg class="clipped-image illustration" viewBox="0 0 600 600" preserveAspectRatio="xMidYMid slice">
      <defs>
          <clipPath id="clipping-0001">
              <path id="path-0001" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
          </clipPath>
          <path id="text-path-0001" transform="scale(1.02)" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
      </defs>
      <image class="image-clip-src" style="clip-path: url(#clipping-0001);" href='{{ "/img/baywatch.jpg"  | relURL}}' preserveAspectRatio="xMidYMid slice" overflow="visible"/>
      <text>  
          <textPath fill="white" font-size="10px" font-size="12px" startOffset="20" href="#text-path-0001">Photo by <a href="https://unsplash.com/@janoschphotos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Janosch Diggelmann</a> on <a href="https://unsplash.com/s/photos/baywatch?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash </a></textPath>  
      </text>
  </svg>
  <p>We are here to present <strong>our</strong> ways of working in order to help the teams</p>
</section>

<section>
    <svg class="clipped-image illustration" viewBox="0 0 600 600" preserveAspectRatio="xMidYMid slice">
        <defs>
            <clipPath id="clipping-0001">
                <path id="path-0001" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
            </clipPath>
            <path id="text-path-0001" transform="scale(1.02)" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
        </defs>
        <image class="image-clip-src" style="clip-path: url(#clipping-0001);" href='{{ "/img/compas.jpg"  | relURL}}' preserveAspectRatio="xMidYMid slice" overflow="visible" />
        <text>  
            <textPath fill="white" font-size="10px" font-size="12px" startOffset="20" href="#text-path-0001">Photo by <a href="https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Jans</a> on <a href="https://unsplash.com/s/photos/compas?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash </a></textPath>  
        </text>
    </svg>
    <p>Feel free to make your own path</p>
  </section>