{{ $_hugo_config := `{ "version": 1 }` }}
{{$text := .Get 0}}
{{$author := .Get 1}}

<blockquote>
    <p>« {{$text  | markdownify}} »</p><p class="author">&mdash; {{$author  | markdownify}}<p>
</blockquote>