{{$snippet := .Get 0}}
{{$highlight := .Get 1}}
{{$highlight := print "linenos=inline" $highlight}}
{{$path := print $.Page.CurrentSection.File.Dir "snippets/"  }}
{{ $java := print $path "java/" $snippet ".java"}}
{{ $kotlin := print $path "kotlin/" $snippet ".kt"}}
{{ $js := print $path "javascript/" $snippet ".js"}}
{{ $python := print $path "python/" $snippet ".py"}}
{{ $cpp := print $path "cpp/" $snippet ".cpp"}}
{{ $files := dict "java" $java "kotlin" $kotlin "js" $js "python" $python "cpp" $cpp }}

 <div class="tab">
<div class="buttons">
{{ $first := 0 }}
{{- range $language, $file := $files -}}
{{ if (fileExists $file) -}}
{{ if eq $first 1 }}
<button id="button-{{$snippet}}-{{$language}}" class="tablinks" onclick="openSnippet(event, '{{$language}}', '{{$snippet}}')">{{ $language }}</button>
{{- end -}}
{{ if eq $first 0 }}
<button id="button-{{$snippet}}-{{$language}}" class="tablinks active" onclick="openSnippet(event, '{{$language}}', '{{$snippet}}')">{{ $language }}</button>
{{ $first = 1 }}
{{- end -}}
{{- end -}}    
{{- end -}}
</div>

{{ $first = 0 }}
{{- range $language, $file := $files -}}
{{ if (fileExists $file) -}}
{{ if eq $first 1 }}
<div id="{{$snippet}}-{{$language}}" class="tabcontent">
{{- end -}}
{{ if eq $first 0 }}
<div id="{{$snippet}}-{{$language}}" class="tabcontent active">
{{ $first = 1 }}
{{- end -}}
{{ $content := $file | readFile }}
{{ highlight $content $language $highlight }}
</div>
{{- end -}}    
{{- end -}}
</div>